body {
    background-color:chocolate;
}

#browse-recipe{
        background-color:orangered;
        color:whitesmoke;
        font: size 20px;;
}

#browse-recipe:hover {
    background-color:coral
}