body {
    background-color:chocolate;
}

button{
        background-color:orangered;
        color:whitesmoke;
        font: size 20px;;
}

button:hover{
    background-color:coral
}

.food-button{
    font-size: 15;
    padding: 15px 25px;
    width: 175px;
    height: 45px;
}


#index-content{
    display:grid;
    place-items: center;
}


#browse-foods{
    font-size: 20px;
    padding: 20px;
    width: 275px;
    height: 100px;
}