body {
    background: linear-gradient(to right, #0e4d92, #2a9ce9)           
}

body {
    font-family: sans-serif;

}



#index-content{
    display:grid;
    place-items: center;
}


#browse-foods{
    font-size: 20px;
    padding: 20px;
    width: 275px;
    height: 100px;
}

#browse-foods {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
#browse-foods {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
#browse-foods:hover {
    box-shadow: 0 0 10px rgb(0,140,255),
                0 0 35px rgb(0,140,255),
                0 0 60px rgb(0,140,255),
                0 0 125px rgb(0,140,255);
  }

  

.food-button{
    font-size: 15;
    padding: 15px 25px;
    width: 175px;
    height: 45px;
    background-color: #0d52db;
}


.food-button {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
.food-button {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
.food-button:hover {
    background-color: #0d52db;
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }


#submit-request{
    font-size: 20px;
    padding: 20px;
    width: 275px;
    height: 100px;
}

#submit-request {
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    width: 150px;
    height: 30px;
  }
  
#submit-request {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
#submit-request:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 15px rgb(0,140,255),
                0 0 40px rgb(0,140,255),
                0 0 90px rgb(0,140,255);
  }


.submit-complaint{
    font-size: 20px;
    padding: 20px;
    width: 275px;
    height: 100px;
}

.submit-complaint {
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    width: 150px;
    height: 60px;
  }
  
.submit-complaint {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
.submit-complaint:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 15px rgb(0,140,255),
                0 0 40px rgb(0,140,255),
                0 0 90px rgb(0,140,255);
  }


